@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
  --main-bg-color: #5E6342;
  --bot-msg-color: #A0522D;
  --user-msg-color: #5F6641;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
   
    font-family: 'Roboto', sans-serif;
	  font-size: 16px;
	  background: var(--main-bg-color);
	  margin: 20px;  
  }

 
  #chat-container {
    max-width: 1100px;
    background: #fff;
    margin: 30px auto;
    overflow: hidden;
  }

  #chat-header {
    background: var(--dark-color-a);
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    text-align: center;
    
  }

  #form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
  }
  #input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
  }
  #input:focus {
    outline: none;
  }
  #form > button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    
  }

  #messages {
    margin: 0;
    padding: 0;
    padding: 30px;
    white-space: pre-wrap;
    color: var(--light-color);
    overflow-y: scroll;
  }

  #messages > div {
    margin: 1.2rem;
    padding: 0.5rem 1rem;
    background-color: var(--user-msg-color);
    border-radius: .78rem;
    text-align: right;  
  }
  #messages > div:nth-child(odd) {
    background: var(--bot-msg-color);
    width: 50%; 
    text-align: left;  
  }
  .message_time {
    font-size: .8rem;
  }

  #send-button {
    cursor: pointer;
    padding: 5px 15px;
    background: var(--light-color);
    color: var(--dark-color-a);
    border: 0;
    font-size: 17px;
  }
  /*
  #8F9779
#5F6641
#556B2F

#8B4513
#A0522D
#D2691E
  */